/***************** reset ****************/
*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  interpolate-size: allow-keywords;
  font-family: system-ui, sans-serif;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

h1,
h2 {
  line-height: 1.25;
}

p,
li {
  text-wrap: pretty;
}

img,
svg {
  display: block;
  width: 100%;
  height: auto;
}

label {
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
  color: inherit;
  background-color: transparent;
  font-size: max(1em, 16px);
}

textarea {
  resize: none;
  min-height: 4lh;
}

legend {
  padding: 0;
}

select,
::picker(select) {
  appearance: base-select;
}

/***************** font ****************/
.cutive-mono-regular {
  font-family: "Cutive Mono", monospace;
  font-style: normal;
}
.montserrat-uniquifier {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
}

:root {
  /***************** font type ****************/
  --font-h1-h2-p-li: "Cutive Mono", monospace;
  --font-h3-a: "Montserrat", sans-serif;

  /***************** font size mobil ****************/
  --font-size-m-h1: 2rem;
  --font-size-m-h2: 1.8rem;
  --font-size-m-h3: 1.2rem;
  --font-size-m-p: 1rem;
  --font-size-m-li: 1rem;
  --font-size-m-a: 0.8rem;

  /***************** font size desk ****************/
  --font-size-d-h1: 3rem;
  --font-size-d-h2: 2.5rem;
  --font-size-d-h3: 1.4rem;
  --font-size-d-p: 1.1rem;
  --font-size-d-li: 1.1rem;
  --font-size-d-a: 0.9rem;

  /***************** font weight ****************/
  --font-weight-h1: 100;
  --font-weight-h2: 600;
  --font-weight-h3: 400;

  /***************** letter space ****************/
  --font-p-space: 160%;

  /***************** color ****************/
  --color-bg: #f3f1eb;
  --color-a: black;
  --color-k: #5e3816;

  /***************** margin ****************/
  --margint-m-h1: 2rem;
  --marginb-m-h1: 2rem;
}

body {
  background-color: var(--color-bg);
}

h1 {
  font-family: var(--font-h1-h2-p-li);
  font-size: var(--font-size-m-h1);
  font-weight: var(--font-weight-h1);
  margin-top: var(--margint-m-h1);
  margin-bottom: var(--marginb-m-h1);
  text-transform: uppercase;
}
h2 {
  font-family: var(--font-h1-h2-p-li);
  font-size: var(--font-size-m-h2);
  font-weight: var(--font-weight-h2);
}
h3 {
  font-family: var(--font-h3-a);
  font-size: var(--font-size-m-h3);
  font-weight: var(--font-weight-h3);
}
p {
  font-family: var(--font-h1-h2-p-li);
  font-size: var(--font-size-m-p);
  line-height: var(--font-p-space);
  max-width: 65ch;
}
a {
  font-size: var(--font-size-m-a);
  font-family: var(--font-h3-a);
  color: var(--color-a);
  text-decoration: none;
}
li {
  font-family: var(--font-h1-h2-p-li);
  font-size: var(--font-size-m-li);
}

@media (min-width: 1000px) {
  h1 {
    font-size: var(--font-size-d-h1);
  }
  h2 {
    font-size: var(--font-size-d-h2);
  }
  h3 {
    font-size: var(--font-size-d-h3);
  }
  a {
    font-size: var(--font-size-d-a);
  }
  p {
    font-size: var(--font-size-d-p);
  }
  li {
    font-size: var(--font-size-d-li);
  }
}
