/***************** reset ****************/
*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  interpolate-size: allow-keywords;
  font-family: system-ui, sans-serif;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

h1,
h2 {
  line-height: 1.25;
}

p,
li {
  text-wrap: pretty;
}

img,
svg {
  display: block;
  width: 100%;
  height: auto;
}

label {
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
  color: inherit;
  background-color: transparent;
  font-size: max(1em, 16px);
}

textarea {
  resize: none;
  min-height: 4lh;
}

legend {
  padding: 0;
}

select,
::picker(select) {
  appearance: base-select;
}

/***************** font ****************/
.cutive-mono-regular {
  font-family: "Cutive Mono", monospace;
  font-style: normal;
}
.montserrat-uniquifier {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
}

:root {
  /***************** font ****************/
  --font-h1-h2-p-li: "Cutive Mono", monospace;
  --font-h3-a: "Montserrat", sans-serif;

  /***************** font size mobil ****************/
  --font-size-mobil-h1: 2.1rem;
  --font-size-mobil-h2: 2rem;
  --font-size-mobil-h3: 1.2rem;
  --font-size-mobil-a: 0.8rem;
  --font-size-p: 1rem;

  /***************** font size desk ****************/
  --font-size-desk-h1: 3rem;
  --font-size-desk-h2: 2.5rem;
  --font-size-desk-h3: 2rem;
  --font-size-desk-a: 1rem;

  /***************** font weight ****************/
  --font-weight-h1: 100;
  --font-weight-h2: 600;
  --font-weight-h3: 400;
  --font-p-space: 150%;

  /***************** color ****************/
  --color-bg: #f3f1eb;
  --color-a: black;

  /***************** margin ****************/
  --margin-top-h1-mobil: 2rem;
  --margin-bottom-h1-mobil: 2rem;
}

body {
  background-color: var(--color-bg);
}

h1 {
  font-family: var(--font-h1-h2-p-li);
  font-size: var(--font-size-mobil-h1);
  font-weight: var(--font-weight-h1);
  margin-top: var(--margin-top-h1-mobil);
  margin-bottom: var(--margin-bottom-h1-mobil);
  text-transform: uppercase;
}
h2 {
  font-family: var(--font-h1-h2-p-li);
  font-size: var(--font-size-mobil-h2);
  font-weight: var(--font-weight-h2);
}
h3 {
  font-family: var(--font-h3-a);
  font-size: var(--font-size-mobil-h3);
  font-weight: var(--font-weight-h3);
}
p {
  font-family: var(--font-h1-h2-p-li);
  font-size: var(--font-size-p);
  line-height: var(--font-p-space);
}
a {
  font-size: var(--font-size-mobil-a);
  font-family: var(--font-h3-a);
  color: var(--color-a);
  text-decoration: none;
}
li {
  font-family: var(--font-h1-h2-p-li);
}
