/***************** index ****************/

.in-grid {
  display: grid;
  grid-template-columns: 1fr;
}
.in-grid-img {
  order: -1;
}
.in-grid-text {
  padding: 1rem;
  margin-bottom: 2rem;
}
/***************** teaser tema  ****************/
.img-index {
  background-image: url(img/baggrund-index.webp);
  background-size: 100%;
  padding: 3rem;
}
.index-grid {
  margin-bottom: 2rem;
  padding: 3rem;
  background-color: #f3f1eb;
  align-self: center;
}
.index-grid p {
  padding-top: 1rem;
  padding-bottom: 2rem;
}
.index-grid a {
  color: #5e3816;
  border-bottom: 1px solid #5e3816;
  text-transform: uppercase;
}

@media (min-width: 1000px) {
  .in-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    background-image: url(img/bg-index-4.webp);
    background-size: 100%;
  }
  .in-grid-text {
    padding: 2rem;
    align-self: center;
  }
  .in-grid-img {
    order: 1;
    padding: 8rem;
  }
  .img-index {
    padding-top: 0%;
  }
  .index-grid {
    margin-left: 15rem;
    margin-right: 15rem;
    margin-bottom: 5rem;
  }
}

/***************** tema ****************/
.tema h2 {
  margin-top: 10rem;
  margin-left: 1rem;
  margin-bottom: 0.5rem;
}
.tema h3 {
  margin-top: 6rem;
  margin-left: 2rem;
}
.tema p {
  margin: 2rem;
}
.tema a {
  margin-left: 2rem;
}
.tema img {
  padding: 2rem;
  border-bottom: 1px solid black;
}
@media (min-width: 1000px) {
  .t-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }
}

/***************** pil ****************/
.pil {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: space-between;
  margin: 1rem;
}
.pil-1 {
  display: flex;
  align-items: center;
  grid-column: 1/2;
  gap: 5px;
}
.pil-2 {
  display: flex;
  align-items: center;
  grid-column: 3/4;
  gap: 5px;
}
.pil img {
  width: 20px;
  height: auto;
  border-bottom: none;
}
/***************** om ****************/
.img-om {
  background-image: url(img/om-bg.webp);
  background-size: 100%;
  padding: 1rem;
  img {
    padding: 2rem;
  }
}
/***************** om box 1 ****************/
.om-grid-1 {
  margin: 2rem;
  padding: 4rem;
  background-color: rgb(232, 227, 222);
}
.om-grid-1 h2 {
  padding-bottom: 1rem;
}
.om-grid-1 p {
  padding-bottom: 3rem;
}
/***************** om box 2 ****************/
.om-grid-2 {
  margin: 2rem;
  padding: 4rem;
  background-color: rgb(232, 227, 222);
}
.om-grid-2 h3 {
  padding-bottom: 1rem;
}
.om-grid-2 p {
  padding-bottom: 3rem;
}

@media (min-width: 1000px) {
  .om-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 5rem;
    margin-left: 15rem;
    margin-right: 15rem;
  }
  .om-grid-2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10%;
    margin-top: 5rem;
    margin-left: 17rem;
    margin-right: 17rem;
  }
}
