/***************** index ****************/
.index-grid a {
  display: inline-block;
  border-bottom: 1px solid black;
  text-transform: uppercase;
  transition: all 0.3s ease;
}
.index-grid a:hover {
  transform: scale(1.1);
  color: #5e3816;
}

/***************** tema ****************/

/***************** tema h2 farve ****************/
.t2-h2 {
  color: #5b0dcf;
  border-bottom: 1px solid black;
}
.t3-h2 {
  color: #32771c;
  border-bottom: 1px solid black;
}
.t4-h2 {
  color: #0071be;
  border-bottom: 1px solid black;
}
.t5-h2 {
  color: #eb6300;
  border-bottom: 1px solid black;
}
/***************** tema a farve ****************/
.tema-grid a {
  width: fit-content;
  text-transform: uppercase;
  margin-left: 3rem;
}
.t2-a {
  color: #5b0dcf;
  border-bottom: 1px solid #5b0dcf;
}
.t3-a {
  color: #32771c;
  border-bottom: 1px solid #32771c;
}
.t4-a {
  color: #0071be;
  border-bottom: 1px solid #0071be;
}
.t5-a {
  color: #eb6300;
  border-bottom: 1px solid #eb6300;
}
/***************** tema a farve ****************/

/***************** footer ****************/
.logo-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 10%;
  margin-bottom: 15%;
}
footer img {
  height: 60px;
  width: 60px;
}
footer p {
  margin-left: 1.5rem;
  margin-bottom: 1rem;
  line-height: 12px;
}
@media (min-width: 1000px) {
  .logo-footer {
    padding-top: 5%;
    margin-bottom: 8%;
  }
}
/***************** scrollbar ****************/
html::before {
  content: "";
  inset: 0;
  background-color: #5e3816;
  block-size: 4px;
  animation: site-progress linear both;
  animation-timeline: scroll();
  position: fixed;
  transform-origin: 0 0;
  z-index: 1000;
}
@keyframes site-progress {
  from {
    scale: 0 1;
  }
}

/***************** nav-menu ****************/
header {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  border-bottom: 1px solid #5e3816;
  max-width: 100%;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  background-color: var(--color-bg);
}

.logo {
  display: flex;
  gap: 20px;
  align-items: center;
}

.logo img {
  width: 70px;
  height: 70px;
}

.titel {
  font-family: "Cutive Mono";
  font-size: 30px;
  text-decoration: none;
  color: black;
}

nav {
  display: flex;
  align-items: center;
}
.menu {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu li {
  margin-right: 2px;
}

.menu li:last-child {
  border-left: 1px solid #5e3816;
  margin-right: 25px;
}

.menu a {
  display: block;
  padding-inline: 25px;
  color: black;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  font-size: 18px;
  font-family: "Montserrat";
}
#active {
  color: #5e3816;
}
.menu a:hover {
  color: #5e3816;
}

.burger {
  display: none;
  width: 25px;
  height: 15px;
  cursor: pointer;
}

.burger .line {
  display: block;
  width: 100%;
  height: 2px;
  background-color: black;
  margin-bottom: 5px;
  transition: 0.2s linear;
}
/***************** burger-menu, synlig i mobil ****************/
@media (max-width: 800px) {
  .menu {
    display: none;
  }
  .menu a {
    text-align: left;
    padding-inline: 2rem;
  }

  .burger {
    display: block;
    background-color: transparent;
    border: 0;
    width: 30px;
    height: 20px;
    cursor: pointer;
  }

  .burger .line {
    display: block;
    width: 100%;
    height: 2px;
    background-color: black;
    margin-bottom: 5px;
    transition: 0.2s linear;
  }

  .burger.active .line:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
    transition: 0.2s linear;
  }

  .burger.active .line:nth-child(2) {
    opacity: 0;
    transition: 0.15s linear;
  }

  .burger.active .line:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -5px);
    transition: 0.2s linear;
  }

  /* udfoldet */
  nav.active .menu {
    display: block;
    background-color: var(--color-bg);
    border: 1px solid grey;
    position: absolute;
    justify-content: space-between;
    top: 75px;
    right: 0;
    width: 60%;
    z-index: 1010;
  }

  nav.active .menu li {
    margin-block: 10px 10px;
  }
}
